<div class="grid grid-cols-2 md:grid-cols-3 gap-4 ">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg transition-transform duration-300 hover:scale-105" src="/FWMINDSET-5.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg transition-transform duration-300 hover:scale-105" src="/Bodegon-1.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg transition-transform duration-300 hover:scale-105" src="/MMSS-4.webp" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg transition-transform duration-300 hover:scale-105" src="/Bodegon-2.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg transition-transform duration-300 hover:scale-105" src="/FWMINDSET-2.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg transition-transform duration-300 hover:scale-105" src="/MMSS-1.webp" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg transition-transform duration-300 hover:scale-105" src="/FWMINDSET-4.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg transition-transform duration-300 hover:scale-105" src="/Bodegon-3.webp" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg transition-transform duration-300 hover:scale-105" src="/MMSS-2.webp" alt="">
        </div>
    </div>
</div>