<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="
    flex items-center justify-center gap-2
    px-2 py-1 md:px-4 md:py-2
    transition
    border border-gray-600 rounded-full
    bg-gray-800 text-white
    hover:bg-gray-700 hover:border-gray-500 hover:text-white
    focus:outline-none focus-visible:outline-none
    focus-visible:ring-yellow-500/80 focus-visible:ring focus-visible:ring-offset-2
    active:bg-gray-900
    group max-w-fit
  "
>
  <slot />
</a>